@use "../../../scss/partials" as *;

.playlsitvideos-header {
  @include display($fd: column, $g: 20px);
  width: 33%;
  position: sticky;
  top: 0;

  h1 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 15px;
    @include lineClamp($lines: 3);
  }

  .thumbnail {
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
    img {
      @include image();
    }
  }

  .buttons-container {
    @include display($g: 10px, $fw: wrap);

    div {
      padding: 10px 20px;
      border-radius: 20px;
      cursor: pointer;
    }

    .play-btn {
      background-color: $grey;
      font-weight: bold;
    }

    .delete-btn {
      background-color: $theme;
      color: black;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .playlsitvideos-header {
    flex-direction: row;
    width: 100%;
      position: static;
    .thumbnail {
      width: 300px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .playlsitvideos-header {
    flex-direction: column;

    .playlist-details {
      flex: 1;
      min-width: 270px;
    }
    .thumbnail {
      width: 100%;
      max-width: 400px;
      align-self: center;
    }
  }
}
