
@use "../../scss/partials" as *;



.grid {
  display: grid;
  gap: min(100%, 10px);
  padding: 20px 40px;
  grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));


  .video-card {
    overflow: hidden;
    cursor: pointer;
    img {
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .video-detail-cont {
    display: flex;
    margin: 10px 0 25px 0;
    padding: 0 2px;
    gap: 7px;
    .title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      overflow: hidden;
    }
  
    .channel-logo {
      @include icon(25px);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      overflow: hidden;
    }
  
    .channel {
      color: lightgrey;
    }
    .views {
      color: lightgrey;
    }
  }

  .video-detail {
    flex: 1;
    > * {
      margin-bottom: 2px;
    }
  }
}






