@use "../../scss/partials" as *;

.filter-sec{
    padding: 20px 0;
    overflow-x: auto;
    scrollbar-width: none;
    position: sticky;
    top: 0;
    background-color: $dark;
    @include display($g: 25px);
    z-index: 90;
    

    div{
        padding: 10px 15px;
        background-color: $grey;
        border-radius: 20px;
        cursor: pointer;
    }
}