@use "../../scss/partials" as *;

.player {
  aspect-ratio: 16 / 8;
  border: 1px solid $grey;
  border-radius: 20px;
  video {
    width: 100%;
    object-fit: contain;
    height: 100%;
  }
}

.player-desc {
  margin: 12px 0;

  .flex {
    @include display($d: flex, $jc: space-between);
    padding: 10px 0;
  }
  .channel-desc {
    @include display($d: flex, $jc: space-between, $ai: center, $g: 10px);

    .channel-logo {
      @include icon();
    }

    .channel-detail{
      flex: 1;
    }
    .subscribe {
      padding: 8px 10px;
      background-color: white;
      color: black;
      border-radius: 20px;
      cursor: pointer;
    }
  }

  .options {
    @include display($d: flex, $ai: center, $g: 20px);
    >div{
        padding: 8px 10px; 
        background-color: $grey;
        border-radius: 20px;
        cursor: pointer;
    }
  }
}
